@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable.css";

body {
  font-family: "Pretendard Variable", sans-serif;
  background-color: #fff;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
